*
{
    padding: 0px;
    margin: 0px;
}
.background-color
{
    background-color: #F8F8F8;
}
.background-color-green
{
   background-color: rgba(131, 183, 53, 1);
}
.color-green
{
    color: rgba(131, 183, 53, 1);
}
.img-hover-zoom {overflow: hidden;}
.img-hover-zoom img {transition: transform .5s ease;}
.img-hover-zoom:hover img 
{
    transform: scale(1.15);
}
.slider 
{
    transform: scale(1.4);
    
}
.img-hover-zoom {position:relative}
.design
{
    display: none;
}

#imageprimary
{
    display: inline-block;
}
#imagesecondary
{
    display: none;
}
.design-images:hover figure img#imageprimary
{
    display: none;
    
}
.design-images:hover figure img#imageprimary+img#imagesecondary
{
    display: inline-block;
    
    
}
.design-images.image-card
{
    position: relative;
}

.display-none
{
    display: none;
}
.small-card
{
    width: 100%;
    height: 70px;
    bottom: 0px;
}
.background-image
{
    background-image: url(./images/about-us2-2.jpg);
    width:100%;
    height: 486px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.background-image2
{
    background-image: url(./images/newsletter-new.jpg);
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    height: 248px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.background-image3
{
    background-image: url(./images/menu-categories-fr-6.png);
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    height: 500px;
    width: 930px;
}
.background-image4
{
    background-image: url(./images/cat-menu-bg-1.jpg);
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    height: 500px;
    width: 800px;
    float: right;
    background-position-x:right;
}
.img-hover
{
    opacity: 0.5;
    cursor:pointer;
    padding: 20px;
}
.img-hover:hover
{
    opacity: 1;
}
.row.align-items-center:hover .logo-hover
{
    display: block;
}
.logo-hover
{
    display: none;
}
.h2-size
{
    font-size: 4rem;
}
.logo-size
{
    width: 14%;
}
.p-absolute
{
    position: absolute;
}
@media (min-width: 768px)
{
    .design-images:hover.image-card .new
    {
        background-color: white;
        box-shadow: 0 0 10px rgb(204 204 204 / 80%);
        width: 341px;
        height: 750px;
        padding: 31px;
        margin: -25px;
        position: absolute;
        z-index: 5;
    }
    
    .design-images:hover.image-card
    {
    
        border-radius: 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1.5rem;
        /* background-color: white;
        box-shadow: 0 0 10px rgb(204 204 204 / 80%); */
    }

    .design-images:hover .display-none
    {
        display: flex;
    
    }
        figure.img-hover-zoom+h4
    {
        bottom: 5%;
        left: 7%;
    }
    figure.img-hover-zoom:hover+h4
    {
        bottom: 50px;
        left: 7%;
    }
    figure.img-hover-zoom:hover+h4+p.design
    {
        display: inline-block;
        bottom: 2%;
        left: 7%;
    }
    .menu-left-hover:hover .menu-left-item-hover
    {
        position: absolute;
        display: block;
        left: 22.5%!important;
        top: 0;
    }
    .menu-left-item-hover
    {
        display: none;
    }

}
@media (max-width: 768px)
{
    .h2-size
    {
        font-size: 2rem;
    }
    .background-image
    {
        background-image: none;
        width:100%;
        height: 350px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1;
    }
    .background-image2
    {
        background-image: none;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
        height: 248px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .logo-size
    {
        width: auto;
    }
    .p-absolute
    {
        position: relative;
    }
    figure.img-hover-zoom+h4
    {
        bottom: 0%;
        left: 0%;
    }
    .design
    {
        display: block;
    }
}
@media (min-width: 1900px)
{
    .menu-left-hover:hover .menu-left-item-hover
    {
        position: absolute;
        display: block;
        left: 28%!important;
        top: 0;
    }
}
.transparent
{
    background-color: transparent;
    border: 0;
    
}
.dropdown-menu-bottom
{
    padding-top: 0%;
    padding-bottom: 0%;

    width: max-content;
    /* height: 580px; */
    height: max-content;
    left: -245px!important;
    text-align: center;
}
.dropdown-menu-end
{
    padding-top: 0%;
    padding-bottom: 0%;

    width: max-content;
    /* height: 580px; */
    height: max-content;
    
    text-align: center;
}
.three-pointer:hover::after{
    content: "...";
}
.small-button
{
    position: absolute;
    background-color:rgba(131, 183, 53, 1);
    color: white;
    border-radius: 100%;
    padding: 0 3px 0 3px;
    font-size: 7px;
    top: 7px;
    right: 2px;
}
.middle-button
{
    position: absolute;
    background-color:rgba(131, 183, 53, 1);
    color: white;
    border-radius: 100%;
    padding: 0 5px 0 5px;
    font-size: 10px;
    top: 23px;
    right: -5px;
}
#slider-1
{
    display: flex;
    /* display: none; */
}
#slider-2
{
    /* display: flex; */
    display: none;
}
#slider-3
{
    /* display: flex; */
    display: none;
}
.dropend .dropdown-toggle::after
{
    position: absolute;
    right: 13px;
    top: 17px;
}
.menu-hover:hover .menu-item-hover
{
    position: absolute;
    display: block;
    z-index: 2;
    background-color: white;
    left: 0;
    top: 56px;
    height: max-content;
    width: 100%;
}
.menu-item-hover
{
    display: none;
}
